Repository ONEcampaign/one-datacommons-website, pull requests merged in 2023-11, with the labels that each got.

#8 Update homepage text with final text
  .gitignore
  server/templates/custom_dc/one/partials/about.html
  server/templates/custom_dc/one/partials/explore.html
  server/templates/custom_dc/one/partials/get-started.html
  server/templates/custom_dc/one/partials/hero.html
Labels: Homepage

#9 3 economy finalise text and configuration file
  server/config/topic_page/economy/africa.textproto
Labels: topic pages

#11 People explorer: update africa.textproto
  server/config/topic_page/people/africa.textproto
Labels: topic pages

#10 Health explorer: update africa.textproto
  server/config/topic_page/health/africa.textproto
Labels: topic pages

#17 13 explorer tools customisation
  server/i18n/en/LC_MESSAGES/all.po
  server/templates/place_landing.html
  server/templates/place_landing_dcids.json
  static/js/tools/map/info.tsx
  static/js/tools/scatter/info.tsx
  static/js/tools/timeline/info.tsx
Labels: Customisation

#18 Topic pages remove nodata filter
  server/config/topic_page/people/africa.textproto
  server/routes/topic_page/html.py
Labels: bug
